BCRYPT_COST=12
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=tpids
JWT_SECRET=cambia_esto_por_algo_largo_aleatorio
JWT_EXPIRES_SEC=3600
CORS_ORIGIN=http://localhost:4200
FRONTEND_URL=http://localhost:4200
# Mailtrap (Email Testing inbox -> SMTP Settings -> Nodemailer)
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=tu_user_mailtrap
MAIL_PASS=tu_pass_mailtrap
MAIL_FROM=no-reply@tpids.local
